.navbar.navbar-default{
  margin-bottom: 0px;
  background-color: black;
  border: black;
}
#short-navbar{
  max-width: 900px;
  margin: 0 auto;
}

#limit-container{
  background-size: cover;
  display: block;
  position: sticky;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  background: url(http://img33.imageshack.us/img33/2389/adventureconcept3i.jpg) no-repeat center center fixed;
  -webkit-filter: contrast(250%) sepia(50%);
     -moz-filter: sepia(60%) contrast(200%);
       -o-filter: sepia(60%) contrast(200%);
         -filter: sepia(60%) contrast(200%);
  box-shadow: inset 1.9em 2.9em 16em 1em rgb(77, 69, 23), inset -16em -2.9em 16em 1em rgb(77, 69, 23);
  background-color: black;
}

.cta-container{
    #cta-play.text-center{
      // padding-top: 20%;
      color: white;
 
      div #np-logo{
        margin-top: 20%;
        max-width: 800px;
        box-shadow: 0 0 .5em white;
      }
    }
    #cta-container.text-center #cto-button{
      margin-top: 100px;
      background-color: rgb(98, 215, 68);
      padding: 1em 5em;
      border: 4px solid black;

      a{
        color: black;
      }
    }
}

#leader-scores{
  min-height: 100px;
  // -webkit-transform-style: preserve-3d;
  //    -moz-transform-style: preserve-3d;
  //         transform-style: preserve-3d;

  // .align-vertical{
  //   position: relative;
  //   top: 50%;
  //   transform: translateY(-50%);
  // }
}

.footer {
  margin-top: 30px;
  // width: 100%;
  height: 60px;

  .container{
    vertical-align: center;
  }
}