#limit-container{
  position: relative;
  top: 0;
  bottom: 0;
  min-height: 100%;
  min-width: 100%;
}
#home-page{
  position: absolute;
  top: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background: url(http://img33.imageshack.us/img33/2389/adventureconcept3i.jpg) no-repeat center center fixed;
  // -webkit-background-size: cover;
  //    -moz-background-size: cover;
  //      -o-background-size: cover;
  //         background-size: cover;
  -webkit-filter: contrast(250%) sepia(50%);
     -moz-filter: sepia(60%) contrast(200%);
       -o-filter: sepia(60%) contrast(200%);
         -filter: sepia(60%) contrast(200%);
  box-shadow: inset 1.9em 2.9em 16em 1em rgb(77, 69, 23), inset -16em -2.9em 16em 1em rgb(77, 69, 23);
  margin-top: 50px;
  background-color: black;  
}