<template name="navbar">
    <!-- navbar -->
    <nav id="" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div id="short-navbar" class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Snake Pit</a>
          </div>

            <div id="navigation" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class=""><a href={{pathFor 'menu'}}>Play</a></li>
                </ul>
                <!-- <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                </ul> -->
            </div>
        </div><!-- /.navbar-collapse -->
  </nav>    <!-- end navbar -->
</template>